@font-face {
  font-family: "iconfont"; /* Project id 3860764 */
  src: url('iconfont.woff2?t=1676711994552') format('woff2'),
       url('iconfont.woff?t=1676711994552') format('woff'),
       url('iconfont.ttf?t=1676711994552') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qutouzi:before {
  content: "\e74f";
}

.icon-qita:before {
  content: "\e66a";
}

.icon-licai:before {
  content: "\e67a";
}

.icon-qita1:before {
  content: "\e6fe";
}

.icon-gongzi:before {
  content: "\e60c";
}

.icon-hongbao:before {
  content: "\e89a";
}

.icon-rili1:before {
  content: "\e8b4";
}

.icon-gengduo:before {
  content: "\e7ce";
}

.icon-rili:before {
  content: "\e600";
}

.icon-send-s:before {
  content: "\e652";
}

.icon-fasong:before {
  content: "\e6c8";
}

.icon-shaogouwu:before {
  content: "\e6d5";
}

.icon-yule:before {
  content: "\e639";
}

.icon-jiaotong:before {
  content: "\e634";
}

.icon-canyin:before {
  content: "\e8a4";
}

.icon-jiaoyu:before {
  content: "\e601";
}

.icon-yiliao:before {
  content: "\e6ee";
}

.icon-yule1:before {
  content: "\e662";
}

.icon-zhuyezhufang:before {
  content: "\e61b";
}

.icon-xianxing-15:before {
  content: "\e655";
}

.icon-xianxing-12:before {
  content: "\e656";
}

.icon-a-xianxing_anquanbaozhangfuben13:before {
  content: "\e657";
}

.icon-a-xianxing_anquanbaozhangfuben24:before {
  content: "\e658";
}

.icon-a-xianxing_anquanbaozhangfuben41:before {
  content: "\e65a";
}

.icon-xianxing_shangdian:before {
  content: "\e65c";
}

.icon-xianxing-09:before {
  content: "\e654";
}

